@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #FFD600;
  --color-primary-dull: #FFC400;
  --color-light: #F8FAFC;
  --color-borderColor: rgba(255, 214, 0, 0.20);
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.25s ease-out;
}
